html
  head
    meta(viewport='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title= title

    link(rel='stylesheet', href=basePath + 'leaflet/leaflet.css')
    link(rel='stylesheet', href=basePath + 'css/style.css')
    script.
        var itemId = !{JSON.stringify(itemId)};
  body
    div(id="map")

    script(src=basePath + 'js/map.min.js' )
